/* TabelaInsumos.module.css */
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.dropdownContainer {
  margin-bottom: 20px;
}

.dropdownContainer select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.listaInsumos {
  margin-top: 20px;
}

.tabelaInsumos {
  width: 100%;
  border-collapse: collapse;
}

.tabelaInsumos th,
.tabelaInsumos td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.botaoRemover {
  background-color: #0b5ed7;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.botaoRemover:hover {
  background-color: blue;
}
